<header class="header">
  <div class="headin">
    <a class="brand" href="/fr/index.html">
      <span class="mark">TY</span>
      <span>Transyes<small>Version francaise</small></span>
    </a>
    <div class="navw open">
      <nav class="nav">
        <a href="/fr/index.html">Accueil</a>
        <a href="/fr/services/index.html">Services</a>
        <a href="/fr/localization/index.html">Localisation</a>
        <a href="/fr/about/index.html">A propos</a>
      </nav>
      <a class="ctaBtn" href="/fr/quote/index.html">Demander un devis</a>
    </div>
  </div>
</header>



