<header class="header">
  <div class="headin">
    <a class="brand" href="/de/index.html">
      <span class="mark">TY</span>
      <span>Transyes<small>Deutsche Version</small></span>
    </a>
    <div class="navw open">
      <nav class="nav">
        <a href="/de/index.html">Startseite</a>
        <a href="/de/services/index.html">Leistungen</a>
        <a href="/de/localization/index.html">Lokalisierung</a>
        <a href="/de/about/index.html">Uber uns</a>
      </nav>
      <a class="ctaBtn" href="/de/quote/index.html">Angebot anfragen</a>
    </div>
  </div>
</header>



