<header class="header">
  <div class="headin">
    <a class="brand" href="/es/index.html">
      <span class="mark">TY</span>
      <span>Transyes<small>Version en espanol</small></span>
    </a>
    <div class="navw open">
      <nav class="nav">
        <a href="/es/index.html">Inicio</a>
        <a href="/es/services/index.html">Servicios</a>
        <a href="/es/localization/index.html">Localizacion</a>
        <a href="/es/about/index.html">Nosotros</a>
      </nav>
      <a class="ctaBtn" href="/es/quote/index.html">Solicitar cotizacion</a>
    </div>
  </div>
</header>



