<header class="header">
  <div class="headin">
    <a class="brand" href="/ar/index.html">
      <span class="mark">TY</span>
      <span>Transyes<small>丕賱賳爻禺丞 丕賱毓乇亘賷丞</small></span>
    </a>
    <div class="navw open">
      <nav class="nav">
        <a href="/ar/index.html">丕賱乇卅賷爻賷丞</a>
        <a href="/ar/services/index.html">丕賱禺丿賲丕鬲</a>
        <a href="/ar/localization/index.html">丕賱鬲賵胤賷賳</a>
        <a href="/ar/about/index.html">賲賳 賳丨賳</a>
      </nav>
      <a class="ctaBtn" href="/ar/quote/index.html">丕胤賱亘 毓乇囟 爻毓乇</a>
    </div>
  </div>
</header>



